* { margin:0; padding: 0; box-sizing: border-box;  }
body { background-color: #363636; }

.container {
	width: 500px; height: 350px; border: 5px solid #fff;
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.slide { 
	position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
}

.slide img { width: 100%; height: 100%; user-select: none; }
input[type="radio"] { display: none; }

#prev, #next {
	position: absolute; top: 50%; transform: translate(-50%);
	width: 40px; height: 40px; border-radius: 50%;
	border: 3px solid #111; background-color: #fff;
	cursor: pointer;
}

#prev { left: 0%; }
#next { left: 100%; }

label span {
	color: #111; position: absolute;
	top: 49%; left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Arial Black';
	user-select: none; font-size: 23px;
}

#radio1:checked ~ .one { z-index: 2; }
#radio2:checked ~ .two { z-index: 2; }
#radio3:checked ~ .three { z-index: 2; }
#radio4:checked ~ .four { z-index: 2; }