:root {
	--cor-principal: #363636;
	--cor-auxiliar: red;
	--cor-letra: aliceblue;

	--linear-light: #494949;
	--linear-dark: #232323;

	--shadow-light: #494949;
	--shadow-dark: #232323;
}

* { 
	margin: 0; padding: 0; text-decoration: none; 
	color: black; box-sizing: border-box;
	outline: none; color: var(--cor-letra);	
}

.container {
	width: 100vw; height: 100vh;
	display: flex; justify-content: center;
	align-items: center;
	background-color: var(--cor-principal);
} 